<div>
    <h2 data-translate="">Quiz Management</h2>

    <form name="form" role="form" novalidate ng-submit="vm.save()" show-validation>
    
    <div class="form-group col-sm-12 padNo" style="margin-top: 50px">
                    <label class="col-sm-3">Select Category :</label>
                    <div class="col-sm-7">
                   		 <select id="quesCategory" name="quesCategory" class="form-control" ng-model="vm.category" 
                   		  ng-options="category.category for category in vm.quesCategoryArr"></select>
                    </div>
                </div>
                
                 <div class="form-group col-sm-12 padNo" >
                    <label class="col-sm-3">Question :</label>
                    <div class="col-sm-7">
                   		 <textarea type="text" height="300px" class="form-control" id="Question" name="Question" placeholder="Enter Question"
                         	  ng-model="vm.quiz.question" ></textarea>
	                    <!-- <div ng-show="form.question.$dirty && form.question.$invalid">
	                        <p class="help-block"
	                               ng-show="form.question.$error.required" data-translate="">
	                            Question is required.
	                        </p>
	                    </div> -->
                    </div>
                </div>
                <div class="form-group col-sm-12 padNo">
                    <label class="col-sm-3">Answer A :</label>
                    <div class="col-sm-7">
                   		 <input type="text" class="form-control" id="answer1" name="answer1" placeholder="Enter Answer1"
                         	  ng-model="vm.quiz.answerA" ng-minlength=1 >
	                    <!-- div ng-show="form.answer1.$dirty && form.answer1.$invalid">
	                        <p class="help-block"
	                               ng-show="form.answer1.$error.required" data-translate="">
	                            Answer1 is required.
	                        </p>
	                    </div> -->
                    </div>
                </div>
                <div class="form-group col-sm-12 padNo">
                    <label class="col-sm-3">Answer B :</label>
                    <div class="col-sm-7">
                   		 <input type="text" class="form-control" id="answer2" name="answer2" placeholder="Enter Answer2"
                         	  ng-model="vm.quiz.answerB" ng-minlength=1 >
	                   <!--  <div ng-show="form.answer2.$dirty && form.answer2.$invalid">
	                        <p class="help-block"
	                               ng-show="form.answer2.$error.required" data-translate="">
	                            Answer2 is required.
	                        </p>
	                    </div> -->
                    </div>
                </div>
                <div class="form-group col-sm-12 padNo">
                    <label class="col-sm-3">Answer C :</label>
                    <div class="col-sm-7">
                   		 <input type="text" class="form-control" id="answer3" name="answer3" placeholder="Enter Answer3"
                         	  ng-model="vm.quiz.answerC" ng-minlength=1 >
	                    <!-- <div ng-show="form.answer3.$dirty && form.answer3.$invalid">
	                        <p class="help-block"
	                               ng-show="form.answer3.$error.required" data-translate="">
	                            Answer3 is required.
	                        </p>
	                    </div> -->
                    </div>
                </div>
                <div class="form-group col-sm-12 padNo">
                    <label class="col-sm-3">Answer D :</label>
                    <div class="col-sm-7">
                   		 <input type="text" class="form-control" id="answer4" name="answer4" placeholder="Enter Answer4"
                         	  ng-model="vm.quiz.answerD" ng-minlength=1 >
	                   <!--  <div ng-show="form.answer4.$dirty && form.answer4.$invalid">
	                        <p class="help-block"
	                               ng-show="form.answer4.$error.required" data-translate="">
	                            Answer4 is required.
	                        </p>
	                    </div> -->
                    </div>
                </div>
                
                 <div class="form-group col-sm-12 padNo">
                    <label class="col-sm-3">Correct Answer :</label>
                   <div class="col-sm-7">
                   		 <select required id="correctAnswer" name="correctAnswer" class="form-control" ng-model="vm.correctAns" 
                   		  ng-options="category.ans for category in vm.answerArr">
                   		 <option value="" style="display: none;	">Select Answer</option>
                   		  </select>
                    </div>
                </div>
                

				<div class="form-group col-sm-12 padNo">
                    <label class="col-sm-3"></label>
                    <div class="col-sm-7">
                   		 <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" data-translate="" ng-if="!vm.update">Save</button>
                   		 <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" data-translate="" ng-if="vm.update">Update</button>
                    </div>
                </div>
               
            </form>

</div>
