<div>
    
    <div class="form-group col-sm-12 padNo">
                  <h2 class="col-sm-3">Quiz List</h2>
                  <h2 class="col-sm-4"></h2>
                  <label class="col-sm-2" style="margin-top: 30px;">Select Category</label>
                    <div class="col-sm-3" style="margin-top: 20px;">
                   		 <select id="quesCategory" name="quesCategory" class="form-control" ng-model="vm.quesCategory" 
                   		  ng-options="category.category for category in vm.quesCategoryArr" ng-change="vm.updateQuizList(vm.quesCategory.id)"></select>
                    </div>
     </div>

<div class="form-group col-sm-12 padNo">
     <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                 <th data-translate="">Category</th>
                    <th data-translate="">Questions</th>
                    <th data-translate="">Answer A</th>
                    <th data-translate="">Answer B</th>
                    <th data-translate="">Answer C</th>
                    <th data-translate="">Answer D</th>
                    <th data-translate="">Actions</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="ques in vm.quizList">
              	  <td>{{ques.categoryName}}</td>
                    <td>{{ques.question}}</td>
                    <td>{{ques.answerA}}</td>
                    <td>{{ques.answerB}}</td>
                    <td>{{ques.answerC}}</td>
                    <td>{{ques.answerD}}</td>
                    <td>
                        <button type="button"
                                class="btn btn-primary btn-sm"
                                ui-sref="quiz-management({id:ques.id})" data-translate="">
                                 Edit
                        </button>
                        <button type="button"
                                class="btn btn-primary btn-sm"
                                ng-click="vm.deleteDialog(ques.id)" data-translate="">
                                 Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>

    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
