<style>
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: gray;
  padding: 3px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 5px;
  font-size: 10px;
  text-align: center;
}
</style>

<div ng-if="!vm.testSubmitted">
    
    <!-- <div class="form-group col-sm-12 padNo"  style="margin-top: 30px;">
                  <h2 class="col-sm-3">Time left :</h2>
                  <span class="col-sm-4"></span>
                  <label class="col-sm-2">Name :</label>
                    <label class="col-sm-3">
                    <span>{{vm.student.name}}</span></br>
                    <span>{{vm.student.name}}</span></label>
     </div> -->
     
     <div class="row">
			<div class="col-sm-12">
				<div class="form-group col-sm-8 "><h2 data-translate="">Time left : {{timeleft}}</h2></div>
				<div class="form-group col-sm-4 padNo" style="margin-top: 30px">
                    <label class="col-sm-12">Name : {{vm.student.name}}</label>
                </div>
             </div>
             <div class="col-sm-12">
				<div class="form-group col-sm-8 "></div>
				<div class="form-group col-sm-4 padNo" >
                    <label class="col-sm-12">Email : {{vm.student.email}}</label>
                </div>
             </div>
     </div>
     
      <div class="row">
			<div class="col-sm-8">
				<div class="row">
					<div class="col-sm-12">
						<label class="col-sm-2">Question {{vm.quiz.id}}:</label>
						<div class="form-group col-sm-10 padNo" >
							<textarea  class="form-control" id="Question" name="Question" placeholder="Question"
							  ng-model="vm.quiz.question" ></textarea>
                		</div>
               		 </div>
                </div>
                
                <div class="row">
					<div class="col-sm-12">
					<label class="col-sm-12"> Answers :</label>
					</div>
				</div>
                <div class="row">
					<div class="col-sm-12">
						<div class="form-group col-sm-12 padNo">
							 <div class="col-sm-1"></div>
							 <input class="col-sm-1" type="radio" ng-click="vm.updateAnswer(vm.quiz.id)" ng-model="vm.rd1" name="radio" ng-checked="vm.rd1==true">
                   			 <label class="col-sm-10"> {{vm.quiz.answerA}}</label>
               			 </div>
               			 <div class="form-group col-sm-12 padNo">
               			 	<div class="col-sm-1"></div>
                   			  <input class="col-sm-1" type="radio" ng-click="vm.updateAnswer(vm.quiz.id)" ng-model="vm.rd2" name="radio" ng-checked="vm.rd2==true">
                   			 <label class="col-sm-10"> {{vm.quiz.answerB}}</label>
               			 </div>
               			 <div class="form-group col-sm-12 padNo">
               			 <div class="col-sm-1"></div>
                   			<input class="col-sm-1" type="radio" ng-click="vm.updateAnswer(vm.quiz.id)" ng-model="vm.rd3" name="radio" ng-checked="vm.rd3==true">
                   			 <label class="col-sm-10"> {{vm.quiz.answerC}}</label>
               			 </div>
               			 <div class="form-group col-sm-12 padNo">
               			 <div class="col-sm-1"></div>
                   			<input class="col-sm-1" type="radio" ng-click="vm.updateAnswer(vm.quiz.id)" ng-model="vm.rd4" name="radio" ng-checked="vm.rd4==true">
                   			 <label class="col-sm-10"> {{vm.quiz.answerD}}</label>
               			 </div>
               			 <div class="form-group col-sm-12 padNo">
               			 	<div class="col-sm-2">
               			 		 <button type="button" class="btn btn-primary" ng-click="vm.getQuestion(vm.quiz.id-1,vm.quiz)" ng-disabled="vm.quiz.id==1" data-translate="">Prev</button>
               			 	</div>
               			 	<div class="col-sm-8"></div>
               			 	<div class="col-sm-2">
               			 	<button type="button" class="btn btn-primary" ng-click="vm.getQuestion(vm.quiz.id+1,vm.quiz)" ng-disabled="vm.quiz.id==30" data-translate="">Next</button>
               			 	</div>
               			 </div>
               		 </div>
                </div>
			</div>
			
			<div class="col-sm-4">
				<div class="row">
					<label>MATH :</label>
					<div class="grid-container">
					<div ng-repeat="b in vm.finalList" ng-if="b.category==1">
						<div class="grid-item" ng-style="vm.getBackgroud(b.id)" ng-click="vm.getQuestion(b.id,vm.quiz)">{{b.id}}</div>
					</div>
					</div>
				</div>
				<div class="row">
				<label>JAVA :</label>
					<div class="grid-container">
					<div ng-repeat="b in vm.finalList" ng-if="b.category==2">
						<div class="grid-item" ng-style="vm.getBackgroud(b.id)" ng-click="vm.getQuestion(b.id,vm.quiz)">{{b.id}}</div>
					</div>
				</div>
				</div>
				<div class="row">
				<label>GK :</label>
					<div class="grid-container">
					<div  ng-repeat="b in vm.finalList" ng-if="b.category==3">
						<div class="grid-item" ng-style="vm.getBackgroud(b.id)" ng-click="vm.getQuestion(b.id,vm.quiz)">{{b.id}}</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>

<div ng-if="vm.testSubmitted">
    
    <!-- <div class="form-group col-sm-12 padNo"  style="margin-top: 30px;">
                  <h2 class="col-sm-3">Time left :</h2>
                  <span class="col-sm-4"></span>
                  <label class="col-sm-2">Name :</label>
                    <label class="col-sm-3">
                    <span>{{vm.student.name}}</span></br>
                    <span>{{vm.student.name}}</span></label>
     </div> -->
     
     <div class="row">
			<div class="col-sm-12">
				<div class="form-group col-sm-8 "><h2 data-translate="">Time left : <b>{{timeleft}}</b></h2></div>
				<div class="form-group col-sm-4 padNo" style="margin-top: 30px">
                    <label class="col-sm-12">Name : {{vm.student.name}}</label>
                </div>
             </div>
             <div class="col-sm-12">
				<div class="form-group col-sm-8 "></div>
				<div class="form-group col-sm-4 padNo" >
                    <label class="col-sm-12">Email : {{vm.student.email}}</label>
                </div>
             </div>
     </div>
     
     <div class="row">
			<div class="col-sm-5">
			</div>
			<div class="col-sm-5">
			<h2 data-translate="">Test Submitted :)</h2>
			</div>
	</div>
</div>
